<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
<h3>Lage et Rest API</h3>
<p>Din oppgaver er å lage et GET API hvor vi kan skrive inn et navn i en url og få beskjed om en bruker finnes eller ikke. <br/>For å gjøre denne oppaven trengs det kun å lages en funksjon i filen index.js.

<br/>Etter funksjonen er fulført kan følgende url benyttes for å få svar på om en bruker finnes eller ikke:</p>

	  <p>localhost:5000/api/exists/"Sett inn navn"</p>


	  <p>Databasen fra mongodb er allerede ferdig oppsatt og inneholder følgende verdier:</p>

	  <p>{ "name": "Andreas" },<br/>
{ "name": "Bjarne" },<br/>
{ "name": "Charlotte" },<br/>
{ "name": "Dennis" },<br/>
{ "name": "Egil" },<br/>
{ "name": "Fatima" }</p> 
</body>


</html>
